  <h2>Browse Products</h2>
  <div class="breadcrumb">
    <p>Books: Fiction: Science-Fiction: </p>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <ul>
        <li>Science-Fiction</li>
        <li>Westerns</li>
        <li>Romance</li>
      </ul>
    </div>
    <div class="col-xs-9">
      <div class="jumbotron">
        <h3>Featured Products</h3>
        <p><img src="" alt="product thumbnail"> <a href="/product">Winds of Winter</a> $Price</p>
        <p><img src="" alt="product thumbnail"> <a href="/product">Harry Potter in America</a> $Price</p>
      </div>
      Sort by:
      <select>
        <option>Popularity</option>
        <option>Newest</option>
        <option>Oldest</option>
        <option>Most Expensive</option>
        <option>Least Expensive</option>
      </select>
      <p><img src="" alt="product thumbnail"> <a href="/product">The Stand</a> $Price</p>
      <p><img src="" alt="product thumbnail"> <a href="/product">Eona</a> $Price</p>
      <p><img src="" alt="product thumbnail"> <a href="/product">The Empire Strikes Back</a> $Price</p>
      <p><img src="" alt="product thumbnail"> <a href="/product">The Hobbit</a> $Price</p>
      <p><img src="" alt="product thumbnail"> <a href="/product">Space Odessey</a> $Price</p>
      <p><img src="" alt="product thumbnail"> <a href="/product">Prince Caspian</a> $Price</p>
      <p><img src="" alt="product thumbnail"> <a href="/product">Shallow Hal</a> $Price</p>
    </div>
  </div>
