  <h2>Shopping Cart: $Total</h2>
  <p><img src="" alt="product thumbnail"> <a href="/product">Product Name</a> $Price Quantity: 2  $Total (<a href="#">Edit</a>/<a href="">Delete</a>)</p>
  <p><img src="" alt="product thumbnail"> <a href="/product">Product Name</a> $Price Quantity: 2  $Total (<a href="#">Edit</a>/<a href="">Delete</a>)</p>
  <p>Additional Charges:</p>
  <p>Shipping: $0.00</p>
  <p>State Sales Tax: $0.00</p>
  <p>Other Fees: $0.00</p>
  <p>Order Total</p>
  <div class"button"><a href="/checkout">Place Order</a></div>
