  <div class="row" id="verify">
    <h2>Complete Order</h2>
    <div class="col-sm-4">
      <h3>Your Order</h3>
      <p>Product Name</a> $Price Quantity: 2  $Total</p>
      <p>Product Name</a> $Price Quantity: 2  $Total</p>
      <p>Additional Charges:</p>
      <p>Shipping: $0.00</p>
      <p>State Sales Tax: $0.00</p>
      <p>Other Fees: $0.00</p>
      <p>Order Total</p>
      <p><a href="/cart">Back to Cart</a></p>
    </div>
    <div class="col-sm-4">
      <h3>Verify Shipping Address</h3>
      Customer Name<br>
      Customer Street<br>
      Customer City/State/Zip</br>
      <p><a href="/account">Edit Shipping Details</a></p>
    </div>
    <div class="col-sm-4">
      <h3>Verify Payment Method</h3>
      Pay with ----<br>
      Billing Address</br>
      Billing City/State/Zip</br>
      <p><a href="/account">Edit Payment Details</a></p>
      <button id="order">Verify Order/Charge Credit Card Now</button>
    </div>
  </div>
  <div class="row" id="confirm">
    <h2>Order Confirmation</h2>
    <div class="col-sm-4">
      <h3>Your Order</h3>
      <p>Product Name</a> $Price Quantity: 2  $Total</p>
      <p>Product Name</a> $Price Quantity: 2  $Total</p>
      <p>Additional Charges:</p>
      <p>Shipping: $0.00</p>
      <p>State Sales Tax: $0.00</p>
      <p>Other Fees: $0.00</p>
      <p>Order Total</p>
    </div>
    <div class="col-sm-4">
      <h3>Delivery to expected on (DATE)</h3>
      Customer Name<br>
      Customer Street<br>
      Customer City/State/Zip</br>
    </div>
    <div class="col-sm-4">
      <p><a href="#">Track Order</a> (Or shows delivery date if delivered)</p>
      <p><a href="#">Post a Review of this Product</a> |
      <a href="#">Request Customer Service for this order</a></p>
    </div>
  </div>
  <script>
  $("#confirm").hide();
  $("#order").click(function() {
    $("#verify").toggle();
    $("#confirm").toggle();
  });
  </script>
