
    <p>This app will create an online store. It should be able to add/edit/delete products, signup and track customers, search or browse for products from a list and show individual products pages, allow customer to put items in a "cart" and make a purchase (imaginary for now).</p>
    <p>It should be somewhat generic so that it could be customized and used by a variety of businesses.</p>
    <h2>Login/Logout</h2>
    <p>Allows site admin to login/out of app as needed.</p>
    <p>Allows users to sign up or log in to an account</p>
