  <h2>Product Name</h2>
  <div class="row">
    <div class="col-xs-3">
      <p><img src="http://lorempixel.com/300/300" alt="product name" class="img-responsive"></p>
      <p>specs</p>
    </div>
    <div class="col-xs-7">
      <p>But make it Web 2.0. So, it turns out the trade show is a month earlier than we expected. Why would that be a scope change? Why can't you do both projects at once? Do you offer a non-profit discount?
      </p>
      <p>I need to get buy-in from the CMO on that. Why can't you do both projects at once? Come on, I'm not making any money here, either! Why can't you just use the low-resolution raster image? Let's schedule a conference call. We have a pretty big budget for our website, like $1,000. We want you to build us a site like Facebook, but for $30,000. Can you just throw it in for free this time?
      </p>
      <p>Let's schedule a conference call. We need it today. We don't have the budget for that. Why not? I forgot to mention that my boss'll be testing this on his BlackBerry. What would Steve Jobs do? I need to get buy-in from the CMO on that.
      </p>
      <p>We want a design that really "pops." No, I don't want you to… work for free. It's just a test, to see if my boss likes it. Just make it more interactive. Why can't you just use the low-resolution raster image? This'll work in IE 6, right? Do you offer a non-profit discount? Can you make us rank #1 in Google for $500 a month? What invoice?
      </p>
      <p>So, it turns out the trade show is a month earlier than we expected. I need to get buy-in from the CMO on that. What invoice? Why would that be billable?
      </p>
      <p>similar product suggestions(searched together)</p>
    </div>
    <div class="col-xs-2">
      <p>price</p>
      <p>complimentary product suggestions(bought together)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <p>product reviews</p>
    </div>
