  <h2>Complete Order</h2>
  <p>Shows final order with total/shipping/tax etc.</p>
  <p>Shows customer information and allows editing if needed (or request if missing). Also prompts new customers to create account/sign in if not data available.</p>
  <p>Checks payment method (probably does not store credit card info as rules are so strict, but uses payment service)</p>
  <p>On valid payment displays a confirmation and shipping estimate/tracking link</p>
  <p>Confirmation is saved for all orders so customer can "check order" or have information about returns/disputes from their account</p>
