  <h2>View Reports</h2>
  <p>Show sales by
    <select>
      <option>Product</option>
      <option>Category</option>
      <option>Date</option>
      <option>Customer</option>
    </select>
    <input type="text">
    <button>Generate Report</button>
  </p>
  <p>Find customers by
    <select>
      <option>Location</option>
      <option>Product Purchased</option>
      <option>Category Purchases</option>
      <option>Purchases in Date Range</option>
    </select>
    <input type="text">
    <button>Generate Report</button>
  </p>
