  <h2>Search Products</h2>
  <form>
    <label>Search: </label> <input type="text"> <button>Go</button>
  </form>

  <h2>Results</h2>
  Sort by:
  <select>
    <option>Popularity</option>
    <option>Newest</option>
    <option>Oldest</option>
    <option>Most Expensive</option>
    <option>Least Expensive</option>
  </select>
  <p><img src="" alt="product thumbnail"> <a href="/product">Product Name</a> $Price</p>
  <p><img src="" alt="product thumbnail"> <a href="/product">Product Name</a> $Price</p>
  <p><img src="" alt="product thumbnail"> <a href="/product">Product Name</a> $Price</p>
  <p><img src="" alt="product thumbnail"> <a href="/product">Product Name</a> $Price</p>
  <p><img src="" alt="product thumbnail"> <a href="/product">Product Name</a> $Price</p>
  <p><img src="" alt="product thumbnail"> <a href="/product">Product Name</a> $Price</p>
