  <h2>Website Settings</h2>
  <h3>Website Title:</h3>
  <input type="text"> <button>Update</button>
  <h3>Website Colors:</h3>
  Primary Color: <input type="color">
  Secondary Color: <input type="color">
  Highlight Color: <input type="color">
  <button>Update</button>
  <h3>Shipping Rates:</h3>
  USA - $2.99<br>
  Canada - $5.99<br>
  Location: <input type="text"> Rate: <input type="number"><button>Add Rate</button>
  <h3>Sales Tax:</h3>
  OR = 0%
  CA = 6.5%
  Location: <input type="text"> Rate: <input type="number"><button>Add Rate</button>
